#home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-width: 1504px;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: initial;
}
#div_posts_home{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px;
    height: max-content;
    border-right: 1px solid #e6e6e6;
}