/* #create_new_story{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-width: 1504px;
    flex-direction: row;
    background-color: aqua;
} */
#LeftLayout_create_new_story{
    position: relative;
    left: -67%;
}
#new_story {
    position: relative;
    margin-top: 30px;
}

.div_new_story {
    display: flex;
    align-items: center;
    position: relative;
    left: 9%;
}

#inputText {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 67%;
    margin-right: 5%;
}

#inputText::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
}

#inputText:focus {
    outline-style: none;
}

#writeText_createStory {
    width: 35vw;
    height: 13vh;
    font-family: inherit;
    font-size: 20px;
    border: none;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    right: -13%;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}